{% extends 'template.html' %}
{% load static %}



  {% block header %}
  <nav class="navbar navbar-expand-lg navbar-light" id="menuAbout"  >
  {% endblock header %}

{% block content %}
<br>
    <div class="container center about shadow-lg" >
           </div>

     <div class="row "  id="maintext">

<div class="col-sm-6 container center">
      <div class="center container"  id="div3" >
<img src="{% static 'img/IMG-20200513-WA0016.jpg' %}" id="imageAbout" alt="mfl about">
      </div>
</div>
 <div class="col-sm-6 justify"  >


 <br>

    شرکت ویرا سنجش آرکا در تاریخ 1398/12/24 با شماره ثبت 556055 به شناسه ملی 14009052235 با توجه به نیاز بخش صنعتی کشور به استفاده از خدمات آزمونهای غیر مخرب Non Destructive Testing
 (NDT)  در هر دو بخش ارائه خدمات و تامین کالای مصرفی این صنعت به پشتوانه تجربه چندین ساله مدیریت و کادر تخصصی خود پا به عرصه وجود نهاد . مدیریت و کادر اجرایی این شرکت در راستای ارائه خدمات
آزمون های غیر مخرب پیشرفته در زمینه بازرسی کف مخازن به روش
نشت شارمغناطیسی Magnetic Flux Leakage (MFL) از سال 1393 با راه اندازی اولین دستگاه بومی و تماما ایرانی MFL و پشت سر نهادن آزمون های بسیار که منجر به پذیرش تیم و دستگاه توسط صنعت و بخش تایید صلاحیت کارفرمایان در بخش های مختلف گردید تا پایان سال 1398 بیش از 22 پروژه با ابعاد مختلف را با موفقیت به اتمام رسانیده و رضایت کارفرمایان مختلف را بطور کامل برآورده نمود است . لازم به ذکر است  در مدت مذکور پروژه های فوق توسط همین تیم و تحت عنوان شرکت کیمیا پخش شرق به انجام رسیده اند.
مدیریت شرکت ویرا سنجش آرکا پیرو خط مشی کیفیت خود که همانا فراهم نمودن رضایت حداکثری از طریق ارائه هرچه بهترو بروز تر خدمات فنی و مهندسی به کارفرمایان و صنعت ملی ایران می باشد با استفاده از تجربیات عملی خود در سال های گذشته اقدام به تکمیل و بروز رسانی تجهیزات خود نموده که بعضی ویژگی های جدید آنها را برتر از نمونه خارجی خود می نمایند . شرایط خاص کشور و وجود تحریم های مختلف ، استفاده از دانش و تخصص داخلی که منجر به تولید ملی گردیده ،  این مزیت را بوجود می آورد که در پروژه های بزرگ نگرانی از امکان تعمیر تجهیزات از بین رفته و در صورت بروز هرگونه خرابی حین کار ، رفع عیب و امکان ادامه پروژه را امری میسر سازد (بحثی که هم اکنون دامن بسیاری از شرکت های همکار که دارای تجهیزات خارجی می باشند را گرفته و تجهیزات زمین گیر شده اند )
شرکت تلاش نموده تا در بخش تامین کالا و تجهیزات مصرفی با استفاده از کادر مجرب و با سابقه در خصوص تامین فیلم های رادیوگرافی و کلیه تجهیزات مربوط به تست های NDT آماده ارائه خدمات به کارفرمایان و زحمتکشان این عرصه باشد .
وجود شعبه کنگان و تیم مستقر و مجهز شرکت باعث تسریع در ارائه خدمات به کارفرمایان و مشتریانی که در مناطق پارس جنوبی تا جزایر قشم و کیش و خوزستان حضور دارند شده و آماده ارائه خدمات در تمام روزهای هفته و بدون تعطیلی می باشد

<br>
 </div>

 </div>


{% endblock content %}